.form-card__wrapper {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #6b50e9;
  border-radius: 10px;
}

.form-card__image {
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.form-card__title {
  margin-top: 10px;
}

.form-card__text {
  margin-top: 5px;
}
