.form__container,
.form__wrapper,
.form__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 20px;
  padding: 30px;
  border: 2px solid #6b50e9;
  border-radius: 10px;
}

.form__data-input {
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 5px;
  height: 25px;
  border: 1px solid #9d94ff;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 1px solid #9d94ff;
    border-radius: 5px;
  }
}

.form__data-select {
  margin-left: 10px;
  margin-bottom: 10px;
  height: 25px;
  border: 1px solid #9d94ff;
  border-radius: 5px;
}

.form__data-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.form__data-radio {
  margin-right: 5px;
}

.male {
  margin-right: 10px;
}

.form__data-file {
  margin: 10px 0;
}

.form__submit-btn {
  width: 150px;
  height: 35px;
  background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  &:hover,
  &:focus {
    background: linear-gradient(90deg, #6b50e9 0%, #9d94ff 94.5%);
  }
}

.error {
  margin: 3px 0 10px;
  padding-bottom: 10px;
  height: 18px;
  color: #ff0000;
  font-size: 14px;
  align-self: self-start;
}

.form__cards {
  width: 80vw;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 15px;
}
