.search__container {
  height: 54px;
  width: 616px;
  margin: 20px auto;
  padding: 0 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1e1e;
  border: 2px solid #252a2c;
  border-radius: 93px;
}

.search__input {
  height: 54px;
  width: 558px;
  background: #1b1e1e;
  border-top: 2px solid #252a2c;
  border-bottom: 2px solid #252a2c;
  border-left: none;
  border-right: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6d7a7c;
  &:focus {
    outline: none;
    background: #1b1e1e;
  }
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

.search__btn {
  height: 29px;
  width: 29px;
  border: none;
  background: url("../../assets/search-icon.svg");
  cursor: pointer;
}
